.logolinks{
    display: flex;
    position: absolute;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    height: 82px;
    background-color: #212529;
}
.headernav{
    display: flex;
    gap: 20px;
    background-color: transparent;
    /* position: absolute; */
    z-index: 999;
}

a{
    text-decoration: none;
    color: white;

}

